.block-2 {
  margin-bottom: 50px;

  & > div {
    @media (max-width: $before-xl) {
       flex-wrap: wrap;
      justify-content: center;

      .block-2__left {
        margin-bottom: 30px;
      }
    }
  }

  &__left {
    width: 100%;
    max-width: 270px;
    & > div {
      height: 370px;
      overflow: hidden;
      &:hover {
        img {
          transform: scale(1.08);
          margin-top: -12px;
        }

        .banner-text {
          margin-top: -40px;
        }
      }

      img {
        height: 100%;
        width: auto;
        object-fit: cover;
        transition: 0.28s;
      }
    }
  }

  &__right {
    width: 100%;

    @media (min-width: $xl) {
      margin-left: 30px;
    }
  }

  @media (min-width: $xl) {
    margin-bottom: 100px;
  }
}

.banner-text {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  height: 410px;
  padding-left: 12px;
  padding-right: 12px;
  transition: 0.4s;
  align-items: end;
  justify-content: center;

  &__shop-now {
    margin-top: 10px;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: $black;

    &.white {
      color: $white;
    }
  }

  &__regular-text {
    font-size: 14px;
    line-height: 25px;
    color: $dark-light;

    &.gray {
      color: $gray;
    }
  }

  &__header-text {
    font-size: 30px;
    line-height: 35px;
    color: $black;

    &.white {
      color: $white;
    }
  }
}

.product {
  &:hover {
    .product__modal {
      margin-bottom: 20px;
    }
  }
  &__img {
    max-height: 270px;
    margin-bottom: 15px;
    overflow: hidden;

    img {
      width: auto;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__name {
    margin-bottom: 5px;
    font-family: $second-font;
    font-size: 14px;
    line-height: 25px;
    color: $dark;
  }

  &__category {
    margin-bottom: 5px;

    a {
      font-size: 14px;
      line-height: 25px;
      color: $dark-light;
      text-decoration: none;
    }
  }

  &__price {
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    color: $gold;
  }

  &__modal {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: -45px;
    transition: all 0.5s ease-in-out;
  }

  &__modal-inner {
    width: 80px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
    background-color: $white;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .svg-icon {
      font-size: 24px;
      color: $dark-light;
      transition: color 0.2s ease-in-out;
      &:hover {
        color: $gold;
      }
    }
  }
}

.slider {
  max-width: 870px;
  padding: 0 45px;

  &__prev, &__next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    font-size: 30px;
    color: $dark-light;
    transition: color 0.3s ease-in-out;
    &:not(.slick-disabled):hover {
      cursor: pointer;
      color: $dark;
    }
  }

  &__prev {
    left: 0;
  }

  &__next {
    right: 0;
  }

  @media (max-width: 640px) {
    max-width: 290px;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;

    .product__img {
      max-height: 250px;

      img {
        height: 250px;
      }
    }
  }
}