*, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $first-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: $dark-light;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $second-font;
  font-weight: 400;
  color: $dark;
}

.mb-100 {
  margin-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: $xl) {
    padding-left: 0;
    padding-right: 0;
  }
}