header {
  background-color: $black-2;
  color: $white;
}

body {
  position: relative;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;

  &__right {
    display: flex;
    justify-content: end;
    align-items: center;

    .login {
      margin-right: 23px;
    }
  }

  &__left {
    display: flex;
    align-items: center;

    img {
      width: auto;
      height: 40px;
    }
  }

  @media (min-width: $xl) {
    height: 80px;
  }
}

.header-menu {
  &.show {
    transform: scaleY(1);
    transition: transform .3s;
  }

  & > .menu {
    display: inline-block;

    & > ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      & > li {
        @media (min-width: $xl) {
          margin-right: 30px;
        }
      }
    }
  }

  @media (max-width: $before-xl) {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: $black-2;
    display: block;
    width: 100vw;
    height: calc(100vh - 50px);
    transform: scaleY(0);
    transform-origin: 0 0;
  }
}

.header-menu > .menu > ul > li, .lined-link {
  display: inline-block;
  position: relative;

  & > a {
    color: $white;
    font-family: $second-font;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      bottom: 0;
      right: 0;
      background-color: $white;
      height: 1px;
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }

    &:hover:before {
      @media (min-width: $xl) {
        opacity: 1;
      }
    }
  }
}

.menu-toggle {
  width: 45px;
  border: 2px solid $white;
  transition: background-color 0.3s ease-in-out;
  background-color: transparent;
  margin-left: 14px;

  .bar1, .bar2, .bar3 {
    width: 28px;
    height: 4px;
    background-color: $white;
    margin: 6px 0;
    transition: 0.4s;
  }

  &.touch {
    background-color: $white;

    .bar1, .bar2, .bar3 {
      background-color: $black-2;
    }

    .bar1 {
      -webkit-transform: rotate(-45deg) translate(-8px, 6px);
      transform: rotate(-45deg) translate(-8px, 6px);
      margin: 6.2px 0;
      width: 31px;
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-9px, -7px);
      margin: 6.2px 0;
      width: 31px;
    }
  }

  @media (min-width: $xl) {
    display: none;
  }
}

.search {
  transition: all 0.4s ease-in-out;
  &.open {
    position: absolute;
    left: 0;
    width: 100%;


    & > div {
      width: 100%;
      max-width: 472px;
      margin-right: auto;
      margin-left: auto;

      @media (max-width: $before-xl) {
        max-width: 220px;
      }
    }

    .search__input {
      width: calc(100% - 68px);
      height: 24px;
      margin-left: 16px;
      margin-right: 16px;

      &:after {
        opacity: 1;
      }
    }
  }

  .svg-icon {
    font-size: 24px;
    color: $white;
  }

  &__btn.hide {
    display: none;
  }

  &__input {
    transition: all 0.3s ease-in-out;

    &:after {
      content: '';
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $white;
      opacity: 0;
    }
  }
}