@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&family=Marcellus&display=swap');

//Fonts
$first-font: 'Lora', serif;
$second-font: 'Marcellus', Arial;

$white: #FFFFFF;
$dark-light: #777777;
$dark: #242424;
$black: #000000;
$black-2: #040404;
$gold: #C3935B;
$gray: #DFDFDF;
$gray-2: #3C3C3C;

// Adaptive
$xl: 1200px;
$before-xl: 1199px;